{@guest_invitation.team_invitation.email} has rejected your invitation to {@guest_invitation.site.domain}.
<a href={PlausibleWeb.URL.site_url(@guest_invitation.site, "settings/general", __team: @team.identifier)}>
  Click here
</a>
to view site settings.
