{@site_transfer.email} has rejected the ownership transfer of {@site_transfer.site.domain}.
<a href={PlausibleWeb.URL.site_url(@site_transfer.site, "settings/general", __team: @team.identifier)}>
  Click here
</a>
to view site settings.
